---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
  heroImage="/profilepic.png"
>
  <p>
    Hello! My name is Francisco Albarino, I'm 23 years old, and I'm from
    Portugal. From an early age, I’ve been fascinated by technology and
    innovation, which led me to pursue a path where I can apply my knowledge in
    a practical way. I’m a Volunteer Firefighter, which has taught me the
    importance of precision and dedication in everything I do. Additionally, I’m
    working on creating my own web consulting company, <a
      href="https://albarino.pt">albarino.pt</a
    >, where I offer services ranging from PCB design to prototyping, all the
    way to web consulting.
  </p>

  <p>
    When I’m not focused on my professional projects, I enjoy exploring two of
    my biggest hobbies: robotics and traveling. Robotics allows me to keep
    expanding my technical skills and experiment with new solutions for everyday
    problems. Traveling, on the other hand, opens new horizons and inspires me
    to think outside the box, something I consider essential for both my
    personal and professional life.
  </p>

  <p>
    The main goal of this website is to serve as a database of the projects I’ve
    developed. I want to ensure that, in the future, anyone who needs
    information for maintenance or updates of my projects will have everything
    they need easily accessible. I believe that organization, attention to
    detail, and accessibility are key to long-term success, and that’s exactly
    what albarino.pt aims to provide: a reliable, professional, and technically
    sound platform.
  </p>

  <p></p>
</Layout>
