---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Sobre nós"
  description="Quem somos, de onde viemos e para onde vamos."
  pubDate={new Date("May 29 2024")}
  heroImage="https://images.unsplash.com/photo-1616584110443-3a96a5750968?q=80&w=1920&h=1080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3Db"
>
  <h3>Quem somos</h3>
  <p>
    A Albarino é uma agência web inovadora e especializada que se destaca por
    sua abordagem técnica e personalizada. Nossa equipa de profissionais,
    liderados por tecnólogos, desenvolve soluções digitais que atendem às
    necessidades específicas dos nossos clientes.
  </p>

  <h3>A nossa visão</h3>
  <p>
    A nossa visão é fornecer soluções digitais de alta qualidade que ajudem os
    nossos clientes a alcançar seus objetivos. Estamos comprometidos em oferecer
    serviços personalizados, transparência e comunicação aberta.
  </p>

  <h3>Os nossos serviços</h3>
  <p>
    Oferecemos uma ampla gama de serviços, incluindo desenvolvimento web,
    transformação digital, manutenção e suporte especializado, consultoria em
    inteligência artificial, arquitetura de software e desenvolvimento de
    software.
  </p>

  <h3>A nossa equipa</h3>
  <p>
    A nossa equipa é composta por profissionais experientes em áreas como
    front-end, mobile, back-end, arquitetura, DevOps, SecOps e UX/UI. Estamos
    comprometidos em fornecer soluções de alta qualidade e atendimento
    personalizado.
  </p>

  <h3>Os nossos valores</h3>
  <p>
    Valor: Focamos no valor, não no preço. Nunca terá um estagiário a fazer
    experiências no seu produto. Comunicação: Transparência brutal. Só desta
    forma somos ágeis. Inovação: Tecnologia de ponta. Não se deixe limitar por
    um Wordpress ou um Shopify. Ambição: Se é possível imaginar, é possível
    executar.
  </p>
</Layout>
