---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-zinc-900">
    <Header />
    <main class="lg:grid grid-cols-2">
      <!-- referencia matrix apenas funciona em pc.. em mobile estraga.... -->
      <section
        class="bg-zinc-900 bg-opacity-50 ring-2 ring-red-700/75 backdrop-blur-sm py-12 mt-18 mb-24 mx-4 rounded-lg shadow-lg flex flex-col justify-center items-center"
      >
        <div
          class="w-full md:w-2/3 p-4 flex flex-col justify-center items-center"
        >
          <h2 class="text-3xl text-center font-semibold text-white mb-4">
            Quer ser contactado?
          </h2>
          <p class="text-zinc-400 text-center">
            Deixe nos aqui a sua informação! remos entrar em contacto consigo o
            mais breve possivel!
          </p>
          <a
            href="https://vzpjsql4ss1.typeform.com/to/X55KU0ZC"
            target="_blank"
            class="bg-red-700 hover:bg-red-800 transition-all text-white px-6 py-3 rounded-lg shadow-lg"
          >
            Quero!
          </a>
        </div>
      </section>

      <section
        class="bg-zinc-900 bg-opacity-50 ring-2 ring-blue-700/75 backdrop-blur-sm py-12 mt-18 mb-24 mx-4 rounded-lg shadow-lg flex flex-col justify-center items-center"
      >
        <div
          class="w-full md:w-2/3 p-4 flex flex-col justify-center items-center"
        >
          <h2 class="text-3xl text-center font-semibold text-white mb-4">
            Entre em contacto connosco!
          </h2>
          <p class="text-zinc-400 text-center">
            Pode entrar em contacto connosco! Escolha o sitio onde prefere ser
            contactado!
          </p>
          <a
            href="/links-contacts"
            class="bg-blue-700 hover:bg-blue-800 transition-all text-white px-6 py-3 rounded-lg shadow-lg"
          >
            Links
          </a>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
