---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1 style="text-align:center;">🛠️ Hello, Maker! 🤖</h1>
      <p>
        Welcome to <code>work.albarino.pt</code> – I’m Francisco Albarino, a Volunteer
        Firefighter and tech enthusiast passionate about robotics and prototyping.
        This site serves as a comprehensive database of my work, providing detailed
        insights into the projects I’ve developed, from PCB design to system prototyping.
        The purpose of <code>work.albarino.pt</code> is to ensure that anyone in
        need of technical information, maintenance details, or project updates has
        easy access to all the necessary resources. Whether you're maintaining a
        past project or seeking inspiration for a new one, <code
          >work.albarino.pt</code
        > is designed to support your journey with professionalism and precision.
      </p>
    </main>
    <Footer />
  </body>
</html>
