---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-zinc-900">
    <Header />
    <main>
      <header class="text-center mt-36 mb-48">
        <div class="flex justify-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            id="Layer_1"
            data-name="Layer 1"
            viewBox="0 0 8022.44 2006.15"
            width="500"
            ><path
              fill="currentColor"
              d="M2041,1986.47H1334.81v-243.9h290.85c-202.88-414.23-400.81-818.31-605.73-1236.71L414,1742.67l292.18-.1-.19,244H0L1019.9,0C1362.71,667.71,1700.1,1322.49,2041,1986.47Z"
            ></path><path
              fill="currentColor"
              d="M2184.13,1986.16V666.52h279.92V1986.16Z"></path><path
              fill="currentColor"
              d="M2660.35,1986.16V666.52h279.93v652.55l-45.45,212.67,41.81,216.3v238.12Zm512.59,18.18q-90.92,0-165.41-37.27t-120.87-100q-46.36-62.71-53.63-140.87V1353.6q7.24-80,54.53-140.87t121.79-94.52q74.51-33.62,163.59-33.63,123.58,0,220.85,60t153.6,163.59q56.31,103.6,56.34,236.3t-55.44,235.39q-55.45,102.72-153.59,163.59T3172.94,2004.34Zm-50.89-252.66q56.31,0,100.88-26.36t70.89-73.62q26.32-47.23,26.35-107.24t-26.35-107.24q-26.37-47.25-70.89-73.62t-100.88-26.36q-58.2,0-103.61,26.36t-70,73.62q-24.54,47.28-24.54,105.42,0,61.81,25.45,110t70,73.62Q3063.87,1751.7,3122.05,1751.68Z"
            ></path><path
              fill="currentColor"
              d="M4110.84,2004.34q-120,0-216.3-60.9t-151.78-163.59q-55.47-102.67-55.44-235.39t55.44-237.21q55.42-104.51,150.87-163.59t217.21-59.08q89,0,160.87,34.54T4389,1214.55q45.42,60.92,50.9,139v381.72q-5.46,78.17-50,139t-116.33,95.43Q4201.7,2004.32,4110.84,2004.34ZM4169,1751.68q89,0,142.69-58.17t53.62-150.87q0-60-23.63-106.33t-69.07-72.71q-45.45-26.32-103.61-26.36-56.36,0-100.88,26.36t-70.89,73.62q-26.37,47.28-26.36,107.24t26.36,107.24q26.33,47.29,70.89,73.62T4169,1751.68Zm185.41,234.48V1748l41.8-216.3-41.8-212.67V1102.76h274.47v883.4Z"
            ></path><path
              fill="currentColor"
              d="M4823.35,1986.16v-883.4h279.93v883.4Zm279.93-483.51L4987,1411.77q34.5-156.32,117.24-241.75t226.3-85.44q63.6,0,111.79,19.09a235.39,235.39,0,0,1,84.52,57.26l-165.41,210.85q-16.37-18.15-43.62-29.08T5256,1331.79q-70.89,0-111.78,42.72T5103.28,1502.65Z"
            ></path><path
              fill="currentColor"
              d="M5739.46,982.79q-63.65,0-107.24-45.44t-43.63-109.06q0-65.43,43.63-109.06t107.24-43.63q67.23,0,108.15,43.63t40.9,109.06q0,63.65-40.9,109.06T5739.46,982.79Zm-140,1003.37v-883.4h279.92v883.4Z"
            ></path><path
              fill="currentColor"
              d="M6072.07,1986.16v-883.4H6352v883.4Zm585.3,0v-503.5q0-67.23-43.63-110T6504.68,1330q-43.62,0-78.16,19.09a140.54,140.54,0,0,0-54.53,53.62q-20,34.54-20,80L6244.75,1430q0-103.62,46.35-181.77t127.24-120.88q80.86-42.69,182.68-42.72,96.33,0,172.68,45.45a328.4,328.4,0,0,1,120,122.69q43.62,77.28,43.62,168.14v565.3Z"
            ></path><path
              fill="currentColor"
              d="M7538.93,2006.15q-138.15,0-247.2-61.8t-172.68-167.23q-63.66-105.39-63.62-236.29,0-129,62.71-232.67t171.77-164.5q109.07-60.89,249-60.89,136.33,0,246.3,60t173.59,164.5q63.6,104.55,63.62,233.58,0,132.7-63.62,237.2t-172.68,166.32Q7677.08,2006.17,7538.93,2006.15Zm0-254.47q58.15,0,103.61-25.45t70-73.62q24.54-48.13,24.54-110,0-60-25.45-106.33t-70-72.71q-44.56-26.32-102.7-26.36t-103.61,26.36q-45.45,26.37-70.89,73.62T7339,1542.64q0,61.81,25.44,110t70.89,73.62Q7480.74,1751.7,7538.93,1751.68Z"
            ></path></svg
          >
        </div>
        <!-- <h1 class="text-5xl font-bold text-gray-200">🌐 Albarino</h1>-->
        <p class="text-xl text-gray-300 mt-4">
          O Seu Parceiro em Desenvolvimento Web Personalizado
        </p>
      </header>

      <section
        class="bg-zinc-900 bg-opacity-50 ring-2 ring-zinc-700/75 backdrop-blur-lg py-12 md:mx-4 rounded-lg shadow-lg"
      >
        <div class="container mx-auto px-6">
          <div class="flex flex-wrap">
            <div class="w-full md:w-1/2 p-4">
              <h2 class="text-3xl font-semibold text-white mb-4">Quem Somos</h2>
              <p class="text-zinc-400 leading-relaxed">
                Na Albarino, transformamos ideias em experiências digitais
                excecionais. Com uma equipa dedicada e apaixonada pelo
                desenvolvimento web, criamos soluções personalizadas que
                impulsionam o sucesso do seu negócio.
              </p>
            </div>
            <div class="w-full md:w-1/2 h-64">
              <img
                src="quem-somos.jpg"
                alt="Sobre Nós"
                class="rounded-lg shadow-lg h-full w-full object-cover"
              />
            </div>
          </div>
        </div>
      </section>

      <section class="py-48">
        <div class="mx-auto px-6 text-center">
          <h2 class="text-3xl font-semibold text-white mb-4">
            Os Nossos Serviços
          </h2>
          <div class="flex flex-wrap justify-end">
            <div class="w-full md:w-1/3 md:p-4 pt-4 self-center">
              <div
                class="bg-zinc-900 bg-opacity-50 ring-2 ring-zinc-700/75 hover:bg-opacity-45 transition-all backdrop-blur-lg p-6 rounded-lg shadow-lg"
              >
                <h3 class="text-xl font-semibold text-white mb-2">
                  Desenvolvimento Web
                </h3>
                <p class="text-zinc-400 leading-relaxed">
                  Sites personalizados que combinam design elegante com
                  desempenho otimizado, garantindo uma experiência de utilizador
                  excecional.
                </p>
              </div>
            </div>
            <div class="w-full md:w-1/3 md:p-4 pt-4 self-center">
              <div
                class="bg-zinc-900 bg-opacity-50 ring-2 ring-zinc-700/75 hover:bg-opacity-45 transition-all backdrop-blur-sm p-6 rounded-lg shadow-lg"
              >
                <h3 class="text-xl font-semibold text-white mb-2">
                  E-commerce
                </h3>
                <p class="text-zinc-400 leading-relaxed">
                  Soluções de e-commerce robustas que facilitam a gestão de
                  vendas online e melhoram a satisfação do cliente.
                </p>
              </div>
            </div>
            <div class="w-full md:w-1/3 md:p-4 pt-4 self-center">
              <div
                class="bg-zinc-900 bg-opacity-50 ring-2 ring-zinc-700/75 hover:bg-opacity-45 transition-all backdrop-blur-sm p-6 rounded-lg shadow-lg"
              >
                <h3 class="text-xl font-semibold text-white mb-2">
                  Aplicações Web
                </h3>
                <p class="text-zinc-400 leading-relaxed">
                  Aplicações web dinâmicas e seguras, desenhadas para escalar e
                  adaptarem-se às suas necessidades específicas.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section
        class="bg-zinc-900 bg-opacity-50 ring-2 ring-zinc-700/75 backdrop-blur-sm py-12 md:mx-4 rounded-lg shadow-lg"
      >
        <div class="container mx-auto px-6 text-center">
          <h2 class="text-3xl font-semibold text-zinc-100 mb-4">
            Porquê Escolher a Albarino?
          </h2>
          <div class="flex flex-wrap justify-center">
            <div class="w-full md:w-1/3 p-4">
              <div
                class="bg-zinc-900 bg-opacity-50 ring-2 ring-zinc-700/75 hover:bg-opacity-45 transition-all p-6 rounded-lg shadow-lg"
              >
                <h3 class="text-xl font-semibold text-zinc-100 mb-2">
                  Expertise
                </h3>
                <p class="text-zinc-500 leading-relaxed">
                  Anos de experiência na criação de soluções web personalizadas
                  para várias indústrias.
                </p>
              </div>
            </div>
            <div class="w-full md:w-1/3 p-4">
              <div
                class="bg-zinc-900 bg-opacity-50 ring-2 ring-zinc-700/75 hover:bg-opacity-45 transition-all p-6 rounded-lg shadow-lg"
              >
                <h3 class="text-xl font-semibold text-zinc-100 mb-2">
                  Inovação
                </h3>
                <p class="text-zinc-500 leading-relaxed">
                  Utilizamos as tecnologias mais recentes para garantir que o
                  seu projeto está na vanguarda digital.
                </p>
              </div>
            </div>
            <div class="w-full md:w-1/3 p-4">
              <div
                class="bg-zinc-900 bg-opacity-50 ring-2 ring-zinc-700/75 hover:bg-opacity-45 transition-all p-6 rounded-lg shadow-lg"
              >
                <h3 class="text-xl font-semibold text-zinc-100 mb-2">
                  Suporte Dedicado
                </h3>
                <p class="text-zinc-500 leading-relaxed">
                  Suporte contínuo para assegurar que o seu site ou aplicação
                  web funciona perfeitamente após o lançamento.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="py-24">
        <div class="container mx-auto px-6 text-center">
          <h2 class="text-3xl font-semibold text-zinc-100 mb-4">
            Contacte-nos
          </h2>
          <p class="text-zinc-400 leading-relaxed mb-8 max-w-xl mx-auto">
            Pronto para elevar o seu projeto ao próximo nível? Fale connosco
            hoje para discutir as suas necessidades e iniciar a sua jornada com
            a Albarino.
          </p>
          <a
            href="/contact"
            class="bg-zinc-700 hover:bg-zinc-800 hover:ring-2 ring-red-700/75 hover:animate-pulse transition-all text-white px-6 py-3 rounded-lg shadow-lg"
          >
            Fale Connosco
          </a>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
