---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-zinc-900">
    <Header />
    <main class="lg:grid grid-cols-4">
      <div
        class="bg-zinc-900 bg-opacity-50 ring-2 ring-pink-700/75 backdrop-blur-sm py-12 px-12 mt-18 mb-24 mx-4 rounded-lg shadow-lg flex flex-col justify-center items-center"
      >
        <h2>Instagram</h2>
        <p>Segue-nos!</p>
        <a
          href="https://www.instagram.com/albarino.pt/"
          target="_blank"
          class="bg-pink-700 hover:bg-pink-800 transition-all text-white px-6 py-3 rounded-lg shadow-lg"
          >@albarino.pt
        </a>
      </div>

      <div
        class="bg-zinc-900 bg-opacity-50 ring-2 ring-blue-700/75 backdrop-blur-sm py-12 px-12 mt-18 mb-24 mx-4 rounded-lg shadow-lg flex flex-col justify-center items-center"
      >
        <h2>Facebook</h2>
        <p>Segue-nos!</p>
        <a
          href="https://www.facebook.com/profile.php?id=61560484057174"
          target="_blank"
          class="bg-blue-700 hover:bg-blue-800 transition-all text-white px-6 py-3 rounded-lg shadow-lg"
          >Albarino PT
        </a>
      </div>

      <div
        class="bg-zinc-900 bg-opacity-50 ring-2 ring-zinc-700/75 backdrop-blur-sm py-12 px-12 mt-18 mb-24 mx-4 rounded-lg shadow-lg flex flex-col justify-center items-center"
      >
        <h2>X</h2>
        <p>Segue-nos!</p>
        <a
          href="https://x.com/albarino_pt"
          target="_blank"
          class="bg-zinc-700 hover:bg-zinc-800 transition-all text-white px-6 py-3 rounded-lg shadow-lg"
          >@albarino_pt
        </a>
      </div>

      <!--
      <div
        class="bg-zinc-900 bg-opacity-50 ring-2 ring-green-700/75 backdrop-blur-sm py-12 px-12 mt-18 mb-24 mx-4 rounded-lg shadow-lg flex flex-col justify-center items-center"
      >
        <h2>Whatsapp</h2>
        <p>Escreve-nos!</p>
        <a
          href="numero a decidir"
          target="_blank"
          class="bg-green-700 hover:bg-green-800 transition-all text-white px-6 py-3 rounded-lg shadow-lg"
          >whatsapp
        </a>
      </div> -->

      <div
        class="bg-zinc-900 bg-opacity-50 ring-2 ring-red-700/75 backdrop-blur-sm py-12 px-12 mt-18 mb-24 mx-4 rounded-lg shadow-lg flex flex-col justify-center items-center"
      >
        <h2>Email</h2>
        <p>Escreve-nos!</p>
        <a
          href="mailto:descobrir@albarino.pt"
          target="_blank"
          class="bg-red-700 hover:bg-red-800 transition-all text-white px-6 py-3 rounded-lg shadow-lg"
          >descobrir@albarino.pt</a
        >
      </div>
    </main>
    <Footer />
  </body>
</html>
