---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-zinc-900">
    <Header />
    <main>
      <section>
        <div
          class="container bg-zinc-900 bg-opacity-50 backdrop-blur-lg p-12 mt-12 mb-18 mx-4 rounded-lg shadow-lg flex flex-col justify-center text-center items-center"
        >
          <div class="w-full md:w-1/2 p-4 place-content-center">
            <h2 class="text-3xl font-semibold text-white mb-4">
              Novidades em breve
            </h2>
          </div>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
