---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-zinc-900">
    <Header />
    <main class="lg:grid grid-cols-3">
      <div
        class="bg-zinc-900 bg-opacity-50 ring-2 ring-cyan-700/75 backdrop-blur-sm py-12 px-12 mt-18 mb-24 mx-4 rounded-lg shadow-lg flex flex-col justify-center text-center items-center"
      >
        <h2>TeamViwer</h2>
        <p>Controlo Remoto</p>
        <div class="flex">
          <a
            href="https://download.teamviewer.com/download/TeamViewerQS_x64.exe"
            target="_blank"
            class="bg-sky-700 hover:bg-sky-800 transition-all text-white px-6 py-3 rounded-lg shadow-lg"
          >
            Download Windows
          </a>
          <a
            href="https://download.teamviewer.com/download/TeamViewerQS.dmg"
            target="_blank"
            class="bg-sky-700 hover:bg-sky-800 transition-all text-white px-6 py-3 rounded-lg shadow-lg"
          >
            Download macOS
          </a>
        </div>
      </div>

      <div
        class="bg-zinc-900 bg-opacity-50 ring-2 ring-orange-700/75 backdrop-blur-sm py-12 px-12 mt-18 mb-24 mx-4 rounded-lg shadow-lg flex flex-col justify-center text-center items-center"
      >
        <h2>AnyDesk</h2>
        <p>Controlo Remoto</p>
        <div class="flex">
          <a
            href="https://anydesk.com/en/downloads/thank-you?dv=win_exe"
            target="_blank"
            class="bg-orange-700 hover:bg-orange-800 transition-all text-white px-6 py-3 rounded-lg shadow-lg"
            >Download Windows
          </a>
          <a
            href="https://anydesk.com/en/downloads/thank-you?dv=mac_dmg "
            target="_blank"
            class="bg-orange-700 hover:bg-orange-800 transition-all text-white px-6 py-3 rounded-lg shadow-lg"
            >Download macOS
          </a>
        </div>
      </div>

      <div
        class="bg-zinc-900 bg-opacity-50 ring-2 ring-green-700/75 backdrop-blur-sm py-12 px-12 mt-18 mb-24 mx-4 rounded-lg shadow-lg flex flex-col justify-center text-center items-center"
      >
        <h2>Meetings</h2>
        <p>Entrar em reunião ou apoio remoto</p>
        <a
          href="https://meet.google.com/"
          target="_blank"
          class="bg-lime-700 hover:bg-lime-800 transition-all text-white px-6 py-3 rounded-lg shadow-lg"
          >Open
        </a>
      </div>
    </main>
    <Footer />
  </body>
</html>
